@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
}

span {
  margin-left: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* 可视窗口高度 */
  padding: 20px;
}

.app-header {
  margin-bottom: 20px;
}

.app-wrapper {
  margin-bottom: 20px;
}

.app-button_login,
.app-button_logout {
  margin-bottom: 10px;
}

.app-button_login,
.app-button_logout {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  color: #000;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.app-button_login:hover,
.app-button_logout:hover {
  background-color: #999;
  color: #fff;
}



.app-blance {
  margin-bottom: 15px;
  display: flex;
  align-items: center; /* 垂直居中 */
}
.app-blance span {
  width: 85px;
  /* margin-right: 10px; */
}
.app-blance input[type="text"] {
  flex: 1; /* 自动填充剩余空间 */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.app-button_login {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.app-button_login:hover {
  background-color: #0056b3;
}



.app-details{
  margin-bottom: 8%;
}

.app-details h2 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(0 187 0);
}

.app-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  padding: 20px;
}



#candidate {
  width: 220px; 
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  margin-right: 10px;
}

#candidate option {
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

#candidate option:hover {
  background-color: #f0f0f0;
}

#candidate option:checked {
  background-color: #e6e6e6;
}

.activity-voting-container {
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
}




.navbar-left-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* 可以根据需要调整 z-index */
}

.navbar .log-in-area {
  width: 85%;
}

.navbar .log-in-area .log-in-btn{
  margin-left: 95%;
  font-size: 18px;
  width: 200px;
  height: 55px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #ffffff;
  /* margin-left: 16px; */
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.login-account{
  margin-left: 95%;
}

.navbar .log-in-area .log-in-btn:hover{
  background-color: #0056b3;
  color: white;
  border: none;
}

.navbar .log-in-area .install-link{
  margin-left: 95%;
  font-size: 16px;
  width: 50px;
  height: auto;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.navbar .log-in-area .install-link:hover{
  margin-left: 90%;
  background-color: #0056b3;
  color: white;
  border: none;
}






/* 身分選擇頁面 */
.button-container {
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  height: 100vh; /* 設置容器高度為視窗高度 */
}

.custom-button {
  width: 450px;
  height: 250px;
  margin: 30px; /* 按鈕間距 */
  font-size: 48px; /* 按鈕文字大小 */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  color: white; /* 文字顏色 */
  font-weight: bold; /* 加粗文字 */
}

.custom-button:hover {
  opacity: 0.8; /* 降低透明度以顯示按鈕被懸停時的效果 */
}

/* 移除Link元件的底線 */
.button-container a {
  text-decoration: none;
}




/* 上傳作品頁面 */
.upload-form {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 3%;
  border-radius: 5px;
}

.upload-form h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.upload-form select,
.upload-form input[type="number"],
.upload-form input[type="text"],
.upload-form textarea,
.upload-form input[type="file"],
.upload-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.upload-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-form button:hover {
  background-color: #0056b3;
}


/* 選項的樣式 */
.upload-form select option {
  background-color: #fff;
  color: #343a40;
}

/* 選中的選項的樣式 */
.upload-form select option:checked {
  background-color: #007bff;
  color: #fff;
}


/* 搜尋框 */
.search-input {
  width: 60%; /* 調整寬度 */
  padding: 1%;
  margin-top: 5%; /* 調整內邊距 */
  border: 2px solid #ccc; /*設置邊框*/
  border-radius: 15px; /* 設置底部圓角 */
  font-size: 16px; /* 設置字體大小 */
  transition: all 0.3s ease-in-out; /* 添加過渡效果 */
}

.search-input:focus {
  outline: none; /* 移除聚焦時的外框 */
  border-radius: 15px 15px 0 0;
}

/* 資料區塊 */
.box {
  width: 60%; /* 設置寬度與搜尋框相同 */
  border-radius: 0 0 15px 15px;
}

.search-card {
  background-color: #fff; /* 設置卡片背景色 */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);  /*添加陰影效果*/
  padding: 16px; /* 調整內邊距 */
  transition: all 0.3s ease-in-out; /* 添加過渡效果 */
}

.category {
  font-size: 14px; /* 設置類別文字大小 */
  font-weight: bold; /* 設置類別文字粗細 */
}

.heading {
  margin-top: 8px; /* 調整標題與類別之間的間距 */
}

.author {
  color: #70757a; /* 設置作者文字顏色 */
  font-size: 14px; /* 設置作者文字大小 */
}




/* 上傳作品 */
.step-container {
  display: flex;
  padding-bottom: 5%;
}

.step-item {
  display: flex;
  padding:0 18%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #007bff; /* 設定文本顏色 */
}

.step-item-gray {
  color: gray; /* 設定文本顏色 */
}

.step-item .step-line {
  display: flex;
  align-items: center;
}

.step-item .step-line .line {
  width: 10px;
  height: 1px;
}

.step-item .step-line .dot {
  border: 4px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.step-item-gray .step-line .dot {
  border-color: gray; /* 設定灰色 */
}

.step-item .step-title {
  margin-top: 10px; /* 設定標題與圖標的距離 */
}



.step-item .step-line::after {
  content: ''; /* 添加偽元素 */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #007bff; /* 藍色的連接線顏色 */
  z-index: -1;
}

.step-item.step-completed .step-line::after {
  background-color: #007bff; /* 切換後的連接線顏色 */
}

.step-item-gray .step-line::after {
  background-color: #999; /* 灰色的連接線顏色 */
}

.step-item-gray.step-completed .step-line::after {
  background-color: #007bff; /* 灰色切換後的連接線顏色 */
}


.step-item + .step-item .step-line::after {
  width: calc(100% - 90%);
}


.step-item.step-completed {
  color: #007bff; /* 設定文本顏色 */
}

.step-item.step-completed .step-line .dot {
  border-color: #007bff; /* 設定橙色 */
}



/* 作品管理 */
.work-management-page {
  margin: 20px auto;
  max-width: 800px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.work-info {
  display: flex;
  align-items: center;
}

.work-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.work-title {
  font-weight: bold;
}

.edit-button {
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button{
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #dc3545;
  color: white;
  font-size: 14px;
}

.delete-button:hover{
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #b02a37;
  color: white;
  font-size: 14px;
}




.select-chapter-page {
  margin: 20px auto;
  max-width: 60%;
}
.table {
  width: 100%;
  height: 10%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
}

.table th {
  font-size: 24px;
  border-bottom: 2px solid #ddd;
}

.table td {
  border-bottom: 1px solid #ddd;
}

.table th,
.table td {
  vertical-align: middle; /* 將每個欄位都設置為垂直置中 */
}

.table tbody tr {
  height: 120px; /* 將表格行的高度設置為固定值 */
}

.chapter-title{
  font-size: 20px;
}

.chapter-selection img {
  width: 50%;
}

.chapter-selection .chapter-cover {
  width: 100px; /* 設置圖片容器的寬度 */
  height: 100px; /* 設置圖片容器的高度 */
  overflow: hidden; /* 將超出範圍的內容隱藏 */
}

.chapter-selection .chapter-cover img {
  max-width: 100px; /* 設置圖片最大寬度 */
  max-height: 100px; /* 設置圖片最大高度 */
  vertical-align: middle; /* 將圖片垂直對齊到表格行的中間 */
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size:24px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
}


/* 導覽列 */
.navbar {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #ccc;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  border-right: 2px solid #ccc;
  transition: left 0.3s ease; /* 添加過渡效果 */
}

.show-sidebar {
  left: 0;
}

.hide-sidebar {
  left: -250px;
}


.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  padding: 8px 0px 8px 16px;
  list-style: none;
}

.nav-text a {
  width: 95%;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: #fff;
}

.nav-menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-toggle {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-menu .nav-menu-items .nav-text > a > svg {
  transition: transform 0.3s ease;
}

.nav-menu .nav-menu-items .nav-text > a > svg.rotated {
  transform: rotate(180deg);
}

.nav-menu .nav-menu-items .nav-text {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.show-sub-menu .sub-menu {
  transform: scaleY(1);
}

.nav-menu-items .nav-text.show-sub-menu .sub-menu {
  display: inline-block;
}

.nav-menu-items .nav-text {
  position: relative;
}

.navbar.menu-expanded .nav-menu {
  padding-bottom: 200px;
}

.sidenav {
  height: 100%;
  width: 200px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding-top: 20px;
}

.sidenav a,
.dropdown-btn {
  padding: 8px 0px 8px 16px;
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidenav a:hover,
.dropdown-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.dropdown-container {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
}

.dropdown-container li {
  text-align: center;
}

.dropdown-container li a {
  display: block;
  padding: 8px 0px;
  color: #151414;
  font-size: 16px;
  text-decoration: none;
}

.dropdown-container li a:hover {
  background-color: #00aeff;
}

