@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
}

span {
  margin-left: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* 可视窗口高度 */
  padding: 20px;
}

.app-header {
  margin-bottom: 20px;
}

.app-wrapper {
  margin-bottom: 20px;
}

.app-button_login,
.app-button_logout {
  margin-bottom: 10px;
}

.app-button_login,
.app-button_logout {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  color: #000;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.app-button_login:hover,
.app-button_logout:hover {
  background-color: #999;
  color: #fff;
}



.app-blance {
  margin-bottom: 15px;
  display: flex;
  align-items: center; /* 垂直居中 */
}
.app-blance span {
  width: 85px;
  /* margin-right: 10px; */
}
.app-blance input[type="text"] {
  flex: 1; /* 自动填充剩余空间 */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.app-button_login {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.app-button_login:hover {
  background-color: #0056b3;
}



.app-details{
  margin-bottom: 8%;
}

.app-details h2 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(0 187 0);
}

.app-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  padding: 20px;
}



#candidate {
  width: 220px; 
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  margin-right: 10px;
}

#candidate option {
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

#candidate option:hover {
  background-color: #f0f0f0;
}

#candidate option:checked {
  background-color: #e6e6e6;
}

.activity-voting-container {
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
}




.navbar-left-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* 可以根据需要调整 z-index */
}

.navbar .log-in-area .log-in-btn{
  margin-left: 95%;
  font-size: 18px;
  width: 150px;
  height: 55px;
  border: none;
  border-radius: 8px;
  background-color: #0FC2C0;
  color: #ffffff;
  /* margin-left: 16px; */
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.login-account{
  margin-left: 95%;
}

.navbar .log-in-area .log-in-btn:hover{
  background-color: #008F8C;
  color: white;
  border: none;
}

.show-account{
  display: inline-block;
  margin-right: 6%;
  color: #008F8C;
}

.reload-btn{
  display: inline-block;
  font-size: 18px;
  width: 150px;
  height: 55px;
  border: none;
  border-radius: 8px;
  background-color: #0FC2C0;
  color: #ffffff;
  /* margin-left: 16px; */
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.reload-btn:hover{
  background-color: #008F8C;
  color: white;
  border: none;
}

.navbar .log-in-area .install-link{
  margin-left: 95%;
  font-size: 16px;
  width: 50px;
  height: auto;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.navbar .log-in-area .install-link:hover{
  margin-left: 90%;
  background-color: #0056b3;
  color: white;
  border: none;
}






/* 身分選擇頁面 */
.button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.custom-button {
  width: 450px;
  height: 250px;
  margin: 30px; 
  font-size: 48px; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: white; 
  font-weight: bold; 
}

.custom-button:hover {
  opacity: 0.8; 
}

.button-container a {
  text-decoration: none;
}




/* 上傳作品頁面 */
.upload-form {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 3%;
  border-radius: 5px;
}

.upload-form h3 {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.upload-form select,
.upload-form input[type="number"],
.upload-form input[type="text"],
.upload-form textarea,
.upload-form input[type="file"],
.upload-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.upload-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-form button:hover {
  background-color: #0056b3;
}

.upload-form select option {
  background-color: #fff;
  color: #343a40;
}

.upload-form select option:checked {
  background-color: #007bff;
  color: #fff;
}

.btn{
  font-size: 18px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #0FC2C0;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover{
  background-color: #008F8C;
  color: white;
  border: none;
}


/* 搜尋框 */
.search-input {
  width: 60%; 
  padding: 1%;
  margin-top: 5%; 
  border: 2px solid #ccc; 
  border-radius: 15px; 
  font-size: 16px; 
  transition: all 0.3s ease-in-out; 
}

.search-input:focus {
  outline: none;
  border-radius: 15px 15px 0 0;
}

/* 資料區塊 */
.search-container{
  margin-top: 1%;
  width: 800px;
  right: 0;
}
.box {
  margin-top: 1%;
  width: 97%;
  border-radius: 0 0 15px 15px;
}

.search-card {
  background-color: #fff; 
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);  
  padding: 16px; 
  transition: all 0.3s ease-in-out; 
}

.search-card:hover{
  background-color: #b9f5f4;
}

.category {
  font-size: 17px; 
  font-weight: bold; 
  color: black;
}

.heading {
  margin-top: 6px; 
  color: black;
}

.author {
  color: #70757a; 
  font-size: 14px; 
}

a:link{
  text-decoration: none;
}



/* 上傳作品 */
.step-container {
  display: flex;
  padding-bottom: 5%;
}

.step-item {
  display: flex;
  padding:0 18%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: #007bff; 
}

.step-item-gray {
  color: gray; 
}

.step-item .step-line {
  display: flex;
  align-items: center;
}

.step-item .step-line .line {
  width: 10px;
  height: 1px;
}

.step-item .step-line .dot {
  border: 4px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.step-item-gray .step-line .dot {
  border-color: gray; 
}

.step-item .step-title {
  margin-top: 10px; 
}



.step-item .step-line::after {
  content: ''; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #007bff; 
  z-index: -1;
}

.step-item.step-completed .step-line::after {
  background-color: #007bff; 
}

.step-item-gray .step-line::after {
  background-color: #999;
}

.step-item-gray.step-completed .step-line::after {
  background-color: #007bff; 
}


.step-item + .step-item .step-line::after {
  width: calc(100% - 90%);
}


.step-item.step-completed {
  color: #007bff; 
}

.step-item.step-completed .step-line .dot {
  border-color: #007bff; 
}



/* 作品管理 */
.work-management-page {
  margin: 20px auto;
  max-width: 800px;
}


.work-info {
  display: flex;
  align-items: center;
}

.work-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.work-title {
  font-weight: bold;
}

.edit-button {
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button{
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #dc3545;
  color: white;
  font-size: 14px;
}

.delete-button:hover{
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #b02a37;
  color: white;
  font-size: 14px;
}




/* 章節管理 */
.chapter-title{
  width: 50%;
}

.comic-chapter-title{
  margin: 2% 0;
  font-size: 20px;
  color: #0FC2C0;
}

.comic-chapter-title h1{
  font-weight: bold;
}

.table {
  width: 100%;
  min-width: 900px; 
  height: 10%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
}

.table th {
  font-size: 24px;
  border-bottom: 2px solid #ddd;
  color: #0FC2C0;
}

.table td {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

.table tbody tr {
  height: 120px; 
}

.chapter-selection img {
  width: 100%;
}

.chapter-selection .chapter-cover {
  width: 100px;
  height: 100px;
  overflow: hidden; 
}

.chapter-selection .chapter-cover img {
  max-width: 100px; 
  max-height: 100px; 
  vertical-align: middle;
}

.chapter-selection .btn{
  font-size: 18px;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #0FC2C0;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.chapter-selection .btn:hover{
  background-color: #008F8C;
  color: white;
  border: none;
}

.create-chapter{
  width: 45%;
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size:24px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.nav-menu {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%; 
}

.nav-text {
  padding: 8px 0px 8px 16px;
  list-style: none;
  }

.nav-text a {
  width: 95%;
  border-radius: 4px;
}

.nav-menu-items {
  display: flex;
  list-style: none;
  padding-top: 1%;
  align-items: center; 
}

.nav-item {
  position: relative;
  margin-right: 20px;
}

.nav-item a {
  font-size: 20px;
  font-weight: bold; 
  color: #0FC2C0;
  text-decoration: none;
  padding: 10px;
}

.nav-item a:hover{
  color: #008F8C;
}

.dropdown-container {
  position: fixed;
  top: 8%;
  width: 8%;
  height: 8%;
  z-index: 10;
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #0FC2C0;
  transition: all 0.5s ease;
}

.show-sub-menu .dropdown-container {
  display: block;
}

.dropdown-container li {
  display: block;
  margin-top: 1%;
  padding-top: 1%;
  list-style: none;
}

.dropdown-container li a:hover {
  color: #008F8C;
}

.dropdown-container a {
  list-style: none;
  padding: 10px;
  width: 100%;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.log-in-area {
  margin-left: 50%;
  white-space: nowrap
}

.log-in-btn {
  background-color: #fff;
  color: #0FC2C0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.log-in-btn:hover {
  background-color: #e0e0e0;
}

.install-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #f00;
  border-radius: 5px;
}

.install-link:hover {
  background-color: #c00;
}

.login-account {
  color: #008F8C;
  padding: 10px 20px;
}

/* 首頁 */
.comic-container {
  position: relative;
  overflow: hidden;
}

.comic-info-overlay {
  position: absolute;
  top: 0;
  left: 3.5%;
  width: 93%;
  height: 100%;
  background-color: rgba(15, 194, 192, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 10px;
  z-index: 2;
}

.comic-info {
  color: white;
  font-size: 18px;
  position: absolute;
  width: 70%;
  top: 50%;/* 將元素置於父元素的中間 */
  left: 45%;
  transform: translate(-50%, -50%); 
}

.comic-container:hover .comic-info-overlay {
  opacity: 1;
}

.comic-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.comic-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 194, 192, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.comic-image:hover::before {
  opacity: 1;
}

/* 閱讀側邊攔 */
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reading-selection {
  width: 100%;
}

.chapter-container {
  text-align: center;
  margin: 2% 0; 
}

.chapter-container h3{
  color: #0FC2C0;
  font-weight: bold;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.reading-image {
  width: 35%;
  height: auto; 
  cursor:zoom-in;
}

.reading-image.zoomed {
  width: 60%; 
  cursor:zoom-out;
}

.reading-sidebar {
  background-color: #a3f0ef;
  width: 15%;
  height: 30%;
  position: fixed;
  top: 18%;
  bottom: 0;
  left: 5%;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.reading-sidebar-container{
  
  text-align: center;
  margin: 4%;
}

.reading-sidebar button{
  font-size: 18px;
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #0FC2C0;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.reading-sidebar button:hover{
  background-color: #008F8C;
  color: white;
  border: none;
}

/* 個人書櫃 */
.management-title{
  text-align: center;
  font-size: 24px;
  color: #0FC2C0;
}

/* 交易紀錄 */
.history-page{
  text-align: center;
  margin: 20px auto;
  max-width: 1200px;
}
.history-container{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 1200px;
}

.history-selection table th,.history-selection table td{
  text-align: center;
}

.history-page table{
  min-width: 1300px;
}